flows/flows.json
[{"id":"69acd66f.2de088","type":"tab","label":"Flow 1"},{"id":"10c34cb.68be0b3","type":"tab","label":"Flow 2"},{"id":"d4ef3e25.c266c","type":"tab","label":"Flow 3"},{"id":"1dd908a4.262287","type":"tls-config","z":"","name":"AWS","cert":"","key":"","ca":"","certname":"MyRaspberryPi_1.cert.pem","keyname":"MyRaspberryPi_1.private.key","caname":"root-CA.crt","verifyservercert":false},{"id":"4c3584ab.e52e9c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"237281ca.865cfe","type":"ui_group","z":"","name":"BPI Monitoring Dashboard","tab":"fa802440.df61f8","disp":true,"width":"10"},{"id":"fa802440.df61f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e2912614.35ca28","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"9a640052.0dfe9","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"3987b4e7.33615c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"20fad10e.6cdade","type":"ui_group","z":"","name":"BPI Monitoring Dashboard","tab":"","disp":true,"width":"10"},{"id":"44398359.36e59c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b148493.9ef878","type":"mqtt-broker","z":"","broker":"a2ufd8qkp758ty.iot.eu-west-1.amazonaws.com","port":"8883","tls":"1dd908a4.262287","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d7551884.9e03f8","type":"aws-iot-device","z":"","name":"AWS Test Me","mode":"broker","clientId":"MyRaspberryPi_1","endpoint":"a2ufd8qkp758ty.iot.eu-west-1.amazonaws.com","awscerts":"./MyWork/aws/certs"},{"id":"979d8e89.dee93","type":"inject","z":"69acd66f.2de088","name":"Load Payload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1456,"y":293.55555725097656,"wires":[["43acaa58.f78754"]]},{"id":"2c02bb28.4dd434","type":"http request","z":"69acd66f.2de088","name":"Call Authentication API","method":"POST","ret":"obj","url":"{{{baseurl}}}/authenticate-user","tls":"1dd908a4.262287","x":2166.111114501953,"y":185,"wires":[["956d5921.bcfde8"]]},{"id":"43acaa58.f78754","type":"function","z":"69acd66f.2de088","name":"Set Request Header","func":"  msg.headers = {\n         \"x-ibm-client-id\" : \"34dfe33e-f269-4ec9-8b26-e14417db21ed\",\n         \"x-ibm-client-secret\": \"Y8aO2oM4fS6eU7lS4pR8vV7qO5xM5pX2uU1mI8hG5xL3bS4jY0\",\n         \"Content-Type\":\"application/json\"\n     }\n     return msg;","outputs":1,"noerr":0,"x":1455.1111145019531,"y":130,"wires":[["d4a07acb.48a338","5af23f22.fcc73","cb788dc4.010b5"]]},{"id":"41de15af.4542ac","type":"function","z":"69acd66f.2de088","name":"Reformate the response","func":"if (msg.statusCode == 200)\n    return { \n        \"payload\": { \n            \"url\": msg.responseUrl, \n            \"status\": msg.statusCode,\n            \"serverName\" : msg.servername,\n            \"requestTime\" : msg.requesttime,\n            \"responseTime\" : msg.responsetime,\n            \"processingTime\" : msg.responsetime - msg.requesttime\n        },\n        \"topic\" : \"BPI EOL Alert - HTTP Status\"\n    };\nelse\n    return {\n        \"payload\": {\n            \"url\": msg.responseUrl,\n            \"status\": msg.statusCode,\n            \"errorCode\": msg.payload.errorCode,\n            \"errorMessage\": msg.payload.errorMessage,\n            \"serverName\" : msg.servername,\n            \"requestTime\" : msg.requesttime,\n            \"responseTime\" : msg.responsetime,\n            \"processingTime\" : msg.responsetime - msg.requesttime\n        },\n        \"topic\" : \"BPI EOL Alert - HTTP Status\"\n    };\n","outputs":"1","noerr":0,"x":2497.111114501953,"y":218,"wires":[["15643e8.74a7dc2","89de9f15.765c4","deead9c7.4c5858","6b04eb37.dc46b4"]]},{"id":"c52fa164.61498","type":"http request","z":"69acd66f.2de088","name":"Call RM Trailer API","method":"GET","ret":"obj","url":"{{{baseurl}}}/getrmtrailer?rmNumber=00000000357022","tls":"4c3584ab.e52e9c","x":2180.111114501953,"y":128,"wires":[["956d5921.bcfde8"]]},{"id":"fff5f0e8.b32bc","type":"file","z":"69acd66f.2de088","name":"Log Me","filename":"/Users/ahmedayoub/MyWork/bpi-monitor.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":3176.166778564453,"y":339.22222900390625,"wires":[]},{"id":"e26a74ae.597938","type":"xml","z":"69acd66f.2de088","name":"convert me to XML","attr":"","chr":"","x":2942.611114501953,"y":322.77777099609375,"wires":[["fff5f0e8.b32bc"]]},{"id":"de2d85fb.caa568","type":"e-mail","z":"69acd66f.2de088","server":"smtp.gmail.com","port":"465","secure":true,"name":"aayoub@mobiquityinc.com","dname":"Notify Me by Email","x":3205.9444885253906,"y":291.11114501953125,"wires":[]},{"id":"15643e8.74a7dc2","type":"switch","z":"69acd66f.2de088","name":"Check none 200 Res","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","outputs":1,"x":2710.833282470703,"y":273.77777099609375,"wires":[["de2d85fb.caa568","e26a74ae.597938"]]},{"id":"1b0b25e7.4bcfba","type":"ui_chart","z":"69acd66f.2de088","name":"","group":"237281ca.865cfe","order":0,"width":"0","height":"0","label":"HTTP Response Codes","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"600","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62429","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":3185.0555725097656,"y":127,"wires":[[],[]]},{"id":"89de9f15.765c4","type":"function","z":"69acd66f.2de088","name":"Get the http code","func":"msg.payload = parseInt(msg.payload.status);\nreturn msg;","outputs":1,"noerr":0,"x":2683.0555725097656,"y":100,"wires":[["1b0b25e7.4bcfba"]]},{"id":"d4a07acb.48a338","type":"change","z":"69acd66f.2de088","name":"set the URL WAS1","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS1","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1696.6111145019531,"y":126,"wires":[["c52fa164.61498","4227e7f1.32a348","71fdb295.061d0c"]]},{"id":"5af23f22.fcc73","type":"change","z":"69acd66f.2de088","name":"set the URL WAS2","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS2","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1696.6111145019531,"y":177,"wires":[["c52fa164.61498","4227e7f1.32a348","71fdb295.061d0c"]]},{"id":"956d5921.bcfde8","type":"change","z":"69acd66f.2de088","name":"Set the response time","rules":[{"t":"set","p":"responsetime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":2460.611114501953,"y":74,"wires":[["41de15af.4542ac"]]},{"id":"8fb7909e.5e02f","type":"ui_chart","z":"69acd66f.2de088","name":"","group":"237281ca.865cfe","order":0,"width":0,"height":0,"label":"Server Response Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":3189.611114501953,"y":187,"wires":[[],[]]},{"id":"deead9c7.4c5858","type":"function","z":"69acd66f.2de088","name":"Get the processing time","func":"msg.payload.processingTime = parseInt(msg.payload.processingTime);\nmsg.topic = \"BPI EOL Alert - Exceed Response Time\"\nreturn msg;","outputs":"1","noerr":0,"x":2739.611114501953,"y":144,"wires":[["c1733d3b.9c509","7b27ac3.96d5954"]],"outputLabels":["send to graph"]},{"id":"c1733d3b.9c509","type":"switch","z":"69acd66f.2de088","name":"Check Response Time","property":"payload.processingTime","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"str"}],"checkall":"true","outputs":1,"x":2950.611114501953,"y":252,"wires":[["de2d85fb.caa568"]]},{"id":"7b27ac3.96d5954","type":"function","z":"69acd66f.2de088","name":"Set the graph value","func":"msg.payload = parseInt(msg.payload.processingTime);\nreturn msg;","outputs":1,"noerr":0,"x":2971.611114501953,"y":180,"wires":[["8fb7909e.5e02f"]]},{"id":"4227e7f1.32a348","type":"change","z":"69acd66f.2de088","name":"Set Auth body","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"userid\":\"eolngs3\",\"password\":\"P@ssw0rd\",\"ipaddress\":\"127.0.0.5\",\"hostname\":\"mycomputer\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1935.6111145019531,"y":185,"wires":[["2c02bb28.4dd434"]]},{"id":"71fdb295.061d0c","type":"change","z":"69acd66f.2de088","name":"Set Acc Overview body","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"rmNumber\":\"00000010210007\",\"DepositOverview\":[{\"accountNumber\":\"00009786074006\",\"accountType\":\"ST\",\"institutionCode\":\"02\",\"currencyCode\":\"001\",\"branchCode\":\"978\"},{\"accountNumber\":\"00009787995214\",\"accountType\":\"TD\",\"institutionCode\":\"02\",\"currencyCode\":\"001\",\"branchCode\":\"978\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1966.6111145019531,"y":242,"wires":[["dac54eb0.6eca"]]},{"id":"dac54eb0.6eca","type":"http request","z":"69acd66f.2de088","name":"Call Acc Overview","method":"POST","ret":"obj","url":"{{{baseurl}}}/depositoverview","tls":"1dd908a4.262287","x":2185.611114501953,"y":242,"wires":[["956d5921.bcfde8"]]},{"id":"cb788dc4.010b5","type":"change","z":"69acd66f.2de088","name":"Set the URL WAS3","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS3","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1697.6111145019531,"y":243,"wires":[["c52fa164.61498","4227e7f1.32a348","71fdb295.061d0c"]]},{"id":"6b04eb37.dc46b4","type":"debug","z":"69acd66f.2de088","name":"","active":true,"console":"false","complete":"false","x":2614.611114501953,"y":393,"wires":[]},{"id":"c8a3d5d9.0e2028","type":"http request","z":"69acd66f.2de088","name":"Call Auth API","method":"POST","ret":"obj","url":"https://172.20.128.29/bpi/sb/eol/authenticate-user","tls":"e2912614.35ca28","x":410,"y":220,"wires":[["ea0ef1ca.9de6d","eb589fd3.80a71"]]},{"id":"e6a0d920.ab25c8","type":"inject","z":"69acd66f.2de088","name":"","topic":"","payload":"{\"userid\":\"eolngs3\",\"password\":\"P@ssw0rd\",\"ipaddress\":\"127.0.0.5\",\"hostname\":\"mycomputer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["213e2405.adab5c"]]},{"id":"ea0ef1ca.9de6d","type":"debug","z":"69acd66f.2de088","name":"","active":true,"console":"false","complete":"false","x":610,"y":160,"wires":[]},{"id":"213e2405.adab5c","type":"function","z":"69acd66f.2de088","name":"Set Headers Values","func":"  msg.headers = {\n         \"x-ibm-client-id\" : \"34dfe33e-f269-4ec9-8b26-e14417db21ed\",\n         \"x-ibm-client-secret\": \"Y8aO2oM4fS6eU7lS4pR8vV7qO5xM5pX2uU1mI8hG5xL3bS4jY0\",\n         \"Content-Type\":\"application/json\"\n     }\n     return msg;","outputs":1,"noerr":0,"x":272.5,"y":152,"wires":[["c8a3d5d9.0e2028"]]},{"id":"1cae1b66.069835","type":"inject","z":"10c34cb.68be0b3","name":"Load Payload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89,"y":316,"wires":[["6cfd823d.f4479c"]]},{"id":"ed872b4c.652bf8","type":"http request","z":"10c34cb.68be0b3","name":"Call Authentication API","method":"POST","ret":"obj","url":"{{{baseurl}}}/authenticate-user","tls":"9a640052.0dfe9","x":1002.111083984375,"y":206.44444274902344,"wires":[["f2c621dc.210f2"]]},{"id":"6cfd823d.f4479c","type":"function","z":"10c34cb.68be0b3","name":"Set Request Header","func":"  msg.headers = {\n         \"x-ibm-client-id\" : \"34dfe33e-f269-4ec9-8b26-e14417db21ed\",\n         \"x-ibm-client-secret\": \"Y8aO2oM4fS6eU7lS4pR8vV7qO5xM5pX2uU1mI8hG5xL3bS4jY0\",\n         \"Content-Type\":\"application/json\"\n     }\n     return msg;","outputs":1,"noerr":0,"x":229.11111450195312,"y":136.44444274902344,"wires":[["49f99f5d.59a68","4f57fe0f.b85f4","4d3423fb.d9924c","31415c09.941904"]]},{"id":"b320cd92.1c318","type":"function","z":"10c34cb.68be0b3","name":"Reformate the response","func":"if (msg.statusCode == 200)\n    return { \n        \"payload\": { \n            \"url\": msg.responseUrl, \n            \"status\": msg.statusCode,\n            \"serverName\" : msg.servername,\n            \"requestTime\" : msg.requesttime,\n            \"responseTime\" : msg.responsetime,\n            \"processingTime\" : msg.responsetime - msg.requesttime\n        },\n        \"topic\" : \"BPI EOL Alert - HTTP Status\"\n    };\nelse\n    return {\n        \"payload\": {\n            \"url\": msg.responseUrl,\n            \"status\": msg.statusCode,\n            \"errorCode\": msg.payload.errorCode,\n            \"errorMessage\": msg.payload.errorMessage,\n            \"serverName\" : msg.servername,\n            \"requestTime\" : msg.requesttime,\n            \"responseTime\" : msg.responsetime,\n            \"processingTime\" : msg.responsetime - msg.requesttime\n        },\n        \"topic\" : \"BPI EOL Alert - HTTP Status\"\n    };\n","outputs":"1","noerr":0,"x":1247.111083984375,"y":228.44444274902344,"wires":[["eeee98fe.8f1618","ffbd700b.44ed8","db2e3b3d.9b9238","1e93f95d.7c93e7"]]},{"id":"c042093a.fe8bc8","type":"http request","z":"10c34cb.68be0b3","name":"Call RM Trailer API","method":"GET","ret":"obj","url":"{{{baseurl}}}/getrmtrailer?rmNumber=00000000357022","tls":"3987b4e7.33615c","x":985.111083984375,"y":108.44444274902344,"wires":[["f2c621dc.210f2"]]},{"id":"8ed1b0f8.6cdaa","type":"file","z":"10c34cb.68be0b3","name":"Log Me","filename":"/Users/ahmedayoub/MyWork/bpi-monitor.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1958.166748046875,"y":414.66668701171875,"wires":[]},{"id":"d78fd80.9bea728","type":"xml","z":"10c34cb.68be0b3","name":"convert me to XML","attr":"","chr":"","x":1725.611083984375,"y":385.22222900390625,"wires":[["8ed1b0f8.6cdaa"]]},{"id":"7d61f9fe.033c68","type":"e-mail","z":"10c34cb.68be0b3","server":"smtp.gmail.com","port":"465","secure":true,"name":"aayoub@mobiquityinc.com","dname":"Notify Me by Email","x":1979.9444885253906,"y":297.5555877685547,"wires":[]},{"id":"eeee98fe.8f1618","type":"switch","z":"10c34cb.68be0b3","name":"Check none 200 Res","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","outputs":1,"x":1484.833251953125,"y":306.22222900390625,"wires":[["7d61f9fe.033c68","d78fd80.9bea728"]]},{"id":"9ff810b.5ec61f","type":"ui_chart","z":"10c34cb.68be0b3","name":"","group":"237281ca.865cfe","order":0,"width":"0","height":"0","label":"HTTP Response Codes","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"600","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62429","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1959.0555725097656,"y":133.44444274902344,"wires":[[],[]]},{"id":"ffbd700b.44ed8","type":"function","z":"10c34cb.68be0b3","name":"Get the http code","func":"msg.payload = parseInt(msg.payload.status);\nreturn msg;","outputs":1,"noerr":0,"x":1457.0555725097656,"y":106.44444274902344,"wires":[["9ff810b.5ec61f"]]},{"id":"49f99f5d.59a68","type":"change","z":"10c34cb.68be0b3","name":"set the URL WAS1","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS1","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":470.6111145019531,"y":39.44444274902344,"wires":[["c042093a.fe8bc8","42921819.1f17a8","8f251031.3bb3f"]]},{"id":"4f57fe0f.b85f4","type":"change","z":"10c34cb.68be0b3","name":"set the URL WAS2","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS2","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":471.6111145019531,"y":137.44444274902344,"wires":[["c042093a.fe8bc8","42921819.1f17a8","8f251031.3bb3f"]]},{"id":"f2c621dc.210f2","type":"change","z":"10c34cb.68be0b3","name":"Set the response time","rules":[{"t":"set","p":"responsetime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1231.611083984375,"y":60.44444274902344,"wires":[["b320cd92.1c318"]]},{"id":"6a78c811.8d26e8","type":"ui_chart","z":"10c34cb.68be0b3","name":"","group":"237281ca.865cfe","order":0,"width":0,"height":0,"label":"Server Response Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1963.6111145019531,"y":193.44444274902344,"wires":[[],[]]},{"id":"db2e3b3d.9b9238","type":"function","z":"10c34cb.68be0b3","name":"Get the processing time","func":"msg.payload.processingTime = parseInt(msg.payload.processingTime);\nmsg.topic = \"BPI EOL Alert - Exceed Response Time\"\nreturn msg;","outputs":"1","noerr":0,"x":1510.611083984375,"y":187.44444274902344,"wires":[["5b7b0c27.3acac4","95a38d57.1a004"]],"outputLabels":["send to graph"]},{"id":"5b7b0c27.3acac4","type":"switch","z":"10c34cb.68be0b3","name":"Check Response Time","property":"payload.processingTime","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"str"}],"checkall":"true","outputs":1,"x":1724.6111145019531,"y":258.44444274902344,"wires":[["7d61f9fe.033c68"]]},{"id":"95a38d57.1a004","type":"function","z":"10c34cb.68be0b3","name":"Set the graph value","func":"msg.payload = parseInt(msg.payload.processingTime);\nreturn msg;","outputs":1,"noerr":0,"x":1745.6111145019531,"y":186.44444274902344,"wires":[["6a78c811.8d26e8"]]},{"id":"42921819.1f17a8","type":"change","z":"10c34cb.68be0b3","name":"Set Auth body","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"userid\":\"eolngs3\",\"password\":\"P@ssw0rd\",\"ipaddress\":\"127.0.0.5\",\"hostname\":\"mycomputer\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":750.611083984375,"y":194.44444274902344,"wires":[["ed872b4c.652bf8"]]},{"id":"8f251031.3bb3f","type":"change","z":"10c34cb.68be0b3","name":"Set Acc Overview body","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"rmNumber\":\"00000010210007\",\"DepositOverview\":[{\"accountNumber\":\"00009786074006\",\"accountType\":\"ST\",\"institutionCode\":\"02\",\"currencyCode\":\"001\",\"branchCode\":\"978\"},{\"accountNumber\":\"00009787995214\",\"accountType\":\"TD\",\"institutionCode\":\"02\",\"currencyCode\":\"001\",\"branchCode\":\"978\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":766.611083984375,"y":270.4444274902344,"wires":[["db013b20.137828"]]},{"id":"db013b20.137828","type":"http request","z":"10c34cb.68be0b3","name":"Call Acc Overview","method":"POST","ret":"obj","url":"{{{baseurl}}}/depositoverview","tls":"9a640052.0dfe9","x":985.611083984375,"y":288.4444274902344,"wires":[["f2c621dc.210f2"]]},{"id":"4d3423fb.d9924c","type":"change","z":"10c34cb.68be0b3","name":"Set the URL WAS3","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS3","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":471.6111145019531,"y":249.44444274902344,"wires":[["c042093a.fe8bc8","42921819.1f17a8","8f251031.3bb3f"]]},{"id":"1e93f95d.7c93e7","type":"debug","z":"10c34cb.68be0b3","name":"","active":true,"console":"false","complete":"false","x":1388.6111145019531,"y":399.44444274902344,"wires":[]},{"id":"eb589fd3.80a71","type":"xml","z":"69acd66f.2de088","name":"","attr":"","chr":"","x":613.5,"y":283,"wires":[["2c30308d.d5f41"]]},{"id":"2c30308d.d5f41","type":"file","z":"69acd66f.2de088","name":"log me plz","filename":"/Users/ahmedayoub/MyWork/bpi-monitor.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":706.5,"y":391,"wires":[]},{"id":"31415c09.941904","type":"change","z":"10c34cb.68be0b3","name":"Set URL for WAS4","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS4","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":477.5,"y":377,"wires":[["c042093a.fe8bc8","42921819.1f17a8","8f251031.3bb3f"]]},{"id":"6faa8346.41c95c","type":"mqtt in","z":"d4ef3e25.c266c","name":"Test Me","topic":"mytest","qos":"0","broker":"9b148493.9ef878","x":269.5,"y":219,"wires":[["4458e2fa.26ce7c"]]},{"id":"4458e2fa.26ce7c","type":"debug","z":"d4ef3e25.c266c","name":"","active":true,"console":"false","complete":"false","x":496.5,"y":216,"wires":[]},{"id":"1d97dd7a.71a8f3","type":"aws-mqtt in","z":"d4ef3e25.c266c","device":"d7551884.9e03f8","topic":"mytest","x":285.5,"y":281,"wires":[["4458e2fa.26ce7c"]]},{"id":"cfabb9cf.4235a8","type":"inject","z":"d4ef3e25.c266c","name":"","topic":"","payload":"{\"state\":{\"desired\":{\"color\":\"RED\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":108.5,"y":405,"wires":[["afeaf9fd.1de848"]]},{"id":"afeaf9fd.1de848","type":"aws-mqtt out","z":"d4ef3e25.c266c","device":"d7551884.9e03f8","topic":"mytest","qos":0,"x":384.5,"y":399,"wires":[]}]