flows/flows.json
[{"id":"cd3777d2.4a4718","type":"tab","label":"Flow 2"},{"id":"c21a7aaf.0f3358","type":"tab","label":"Flow 3"},{"id":"3712e2f2.9b705e","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"f8e46045.e0501","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"df1b6bd2.8733b8","type":"ui_group","z":"","name":"BPI Monitoring Dashboard","tab":"b398c02c.19b31","disp":true,"width":"6"},{"id":"b398c02c.19b31","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"29e3ed81.67a9f2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"BPI API Monitoring","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":100,"gx":6,"gy":6,"cx":20,"cy":20,"px":0,"py":0}}},{"id":"273a1fc4.fbb84","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"c9f1be7.48f064","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"18de3546.8882bb","type":"ui_group","z":"","name":"BPI Monitoring Dashboard","tab":"","disp":true,"width":"10"},{"id":"2c7734e1.af48ec","type":"http in","z":"cd3777d2.4a4718","name":"/alexa","url":"/alexa","method":"post","upload":false,"swaggerDoc":"","x":68,"y":182,"wires":[["3b6a2fa9.ed7e1","30acf5b4.e4b6ca"]]},{"id":"e3ce9c8e.d1864","type":"function","z":"cd3777d2.4a4718","name":"Extract Message","func":"var message = \"\";\nif (msg.payload.request.intent && msg.payload.request.intent.slots)\n    message = msg.payload.request.intent.slots.Text.value\n\nmsg.text = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":247,"wires":[["43806f95.42ef2"]]},{"id":"973899ce.d655d8","type":"switch","z":"cd3777d2.4a4718","name":"","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":242,"y":251,"wires":[["75f12466.97939c"],["e3ce9c8e.d1864"],["10e4f941.12b5d7"],["10e4f941.12b5d7"]]},{"id":"10e4f941.12b5d7","type":"function","z":"cd3777d2.4a4718","name":"End Session Message","func":"msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> Thank you for using Chatbot and have a nice day! </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":307,"wires":[["42da9ef6.e0915"]]},{"id":"75f12466.97939c","type":"function","z":"cd3777d2.4a4718","name":"Start Session Message","func":"msg.payload = {\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"SSML\",\n            \"ssml\": \"<speak> Hi. Welcome to the Chatbot! </speak>\"\n        },\n        \"shouldEndSession\": false\n    },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":609,"y":187,"wires":[["42da9ef6.e0915","30acf5b4.e4b6ca"]]},{"id":"3b6a2fa9.ed7e1","type":"function","z":"cd3777d2.4a4718","name":"Extract User","func":"msg.userId = msg.payload.session.user.userId;\n\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":67,"wires":[["973899ce.d655d8"]]},{"id":"42da9ef6.e0915","type":"http response","z":"cd3777d2.4a4718","name":"","statusCode":"","headers":{},"x":1129,"y":247,"wires":[]},{"id":"b0e004a4.157728","type":"function","z":"cd3777d2.4a4718","name":"Parse Message To Alexa","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> \"  + msg.text + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> \"  + msg.text + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": false\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":247,"wires":[["42da9ef6.e0915"]]},{"id":"43806f95.42ef2","type":"function","z":"cd3777d2.4a4718","name":"Do Something","func":"\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":247,"wires":[["b0e004a4.157728"]]},{"id":"30acf5b4.e4b6ca","type":"debug","z":"cd3777d2.4a4718","name":"","active":false,"console":"false","complete":"false","x":558,"y":82,"wires":[]},{"id":"25f81345.4e123c","type":"inject","z":"c21a7aaf.0f3358","name":"Load Payload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":242.5555419921875,"wires":[["66754cca.ea70f4"]]},{"id":"a8d80e50.73b5","type":"http request","z":"c21a7aaf.0f3358","name":"Call Authentication API","method":"POST","ret":"obj","url":"{{{baseurl}}}/authenticate-user","tls":"273a1fc4.fbb84","x":874.111083984375,"y":109,"wires":[["c068ee8d.0b88d"]]},{"id":"66754cca.ea70f4","type":"function","z":"c21a7aaf.0f3358","name":"Set Request Header","func":"  msg.headers = {\n         \"x-ibm-client-id\" : \"34dfe33e-f269-4ec9-8b26-e14417db21ed\",\n         \"x-ibm-client-secret\": \"Y8aO2oM4fS6eU7lS4pR8vV7qO5xM5pX2uU1mI8hG5xL3bS4jY0\",\n         \"Content-Type\":\"application/json\"\n     }\n     return msg;","outputs":1,"noerr":0,"x":165.11111450195312,"y":117,"wires":[["42f1d306.28e19c","b5e030b8.8e0ba","7792362a.4b9778"]]},{"id":"9a312da.2490ad","type":"function","z":"c21a7aaf.0f3358","name":"Reformate the response","func":"if (msg.statusCode == 200)\n    return { \n        \"payload\": { \n            \"url\": msg.responseUrl, \n            \"status\": msg.statusCode,\n            \"serverName\" : msg.servername,\n            \"requestTime\" : msg.requesttime,\n            \"responseTime\" : msg.responsetime,\n            \"processingTime\" : msg.responsetime - msg.requesttime\n        },\n        \"topic\" : \"BPI EOL Alert - HTTP Status\"\n    };\nelse\n    return {\n        \"payload\": {\n            \"url\": msg.responseUrl,\n            \"status\": msg.statusCode,\n            \"errorCode\": msg.payload.errorCode,\n            \"errorMessage\": msg.payload.errorMessage,\n            \"serverName\" : msg.servername,\n            \"requestTime\" : msg.requesttime,\n            \"responseTime\" : msg.responsetime,\n            \"processingTime\" : msg.responsetime - msg.requesttime\n        },\n        \"topic\" : \"BPI EOL Alert - HTTP Status\"\n    };\n","outputs":"1","noerr":0,"x":1173.111083984375,"y":199,"wires":[["dd65d2f9.4abdf","2b83d349.41931c","a63a2f9f.b0862","7339d3dd.1f3a5c"]]},{"id":"e0db3052.2532c","type":"http request","z":"c21a7aaf.0f3358","name":"Call RM Trailer API","method":"GET","ret":"obj","url":"{{{baseurl}}}/getrmtrailer?rmNumber=00000000357022","tls":"c9f1be7.48f064","x":897.111083984375,"y":45,"wires":[["c068ee8d.0b88d"]]},{"id":"cf6e360e.7de7e8","type":"file","z":"c21a7aaf.0f3358","name":"Log Me","filename":"/Users/ahmedayoub/MyWork/bpi-monitor.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1886.1667785644531,"y":326.22222900390625,"wires":[]},{"id":"10c6a07c.1b9e6","type":"xml","z":"c21a7aaf.0f3358","name":"convert me to XML","attr":"","chr":"","x":1665.611083984375,"y":329.77777099609375,"wires":[["cf6e360e.7de7e8"]]},{"id":"dd65d2f9.4abdf","type":"switch","z":"c21a7aaf.0f3358","name":"Check none 200 Res","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","outputs":1,"x":1450.833251953125,"y":252.77777099609375,"wires":[["10c6a07c.1b9e6"]]},{"id":"6816a3fe.7717ac","type":"ui_chart","z":"c21a7aaf.0f3358","name":"","group":"df1b6bd2.8733b8","order":0,"width":"0","height":"0","label":"HTTP Response Codes","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62429","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1743.0555419921875,"y":74,"wires":[[],[]]},{"id":"2b83d349.41931c","type":"function","z":"c21a7aaf.0f3358","name":"Get the http code","func":"msg.payload = parseInt(msg.payload.status);\nreturn msg;","outputs":1,"noerr":0,"x":1417.0555419921875,"y":74,"wires":[["6816a3fe.7717ac"]]},{"id":"42f1d306.28e19c","type":"change","z":"c21a7aaf.0f3358","name":"set the URL WAS1","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS1","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":412.6111145019531,"y":74,"wires":[["e0db3052.2532c","3c3e5e56.448562","99f2c42f.9d90f8"]]},{"id":"b5e030b8.8e0ba","type":"change","z":"c21a7aaf.0f3358","name":"set the URL WAS2","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS2","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.6111145019531,"y":142,"wires":[["e0db3052.2532c","3c3e5e56.448562","99f2c42f.9d90f8"]]},{"id":"c068ee8d.0b88d","type":"change","z":"c21a7aaf.0f3358","name":"Set the response time","rules":[{"t":"set","p":"responsetime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1135.611083984375,"y":52,"wires":[["9a312da.2490ad"]]},{"id":"5c00d65c.7ede88","type":"ui_chart","z":"c21a7aaf.0f3358","name":"","group":"df1b6bd2.8733b8","order":0,"width":0,"height":0,"label":"Server Response Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1935.611083984375,"y":127,"wires":[[],[]]},{"id":"a63a2f9f.b0862","type":"function","z":"c21a7aaf.0f3358","name":"Get the processing time","func":"msg.payload.processingTime = parseInt(msg.payload.processingTime);\nmsg.topic = \"BPI EOL Alert - Exceed Response Time\"\nreturn msg;","outputs":"1","noerr":0,"x":1449.6111145019531,"y":131,"wires":[["69b98148.ef12d","854eae82.f72a"]],"outputLabels":["send to graph"]},{"id":"69b98148.ef12d","type":"switch","z":"c21a7aaf.0f3358","name":"Check Response Time","property":"payload.processingTime","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"str"}],"checkall":"true","outputs":1,"x":1713.611083984375,"y":208,"wires":[[]]},{"id":"854eae82.f72a","type":"function","z":"c21a7aaf.0f3358","name":"Set the graph value","func":"msg.payload = parseInt(msg.payload.processingTime);\nreturn msg;","outputs":1,"noerr":0,"x":1712.611083984375,"y":130,"wires":[["5c00d65c.7ede88"]]},{"id":"3c3e5e56.448562","type":"change","z":"c21a7aaf.0f3358","name":"Set Auth body","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"userid\":\"eolngs3\",\"password\":\"P@ssw0rd\",\"ipaddress\":\"127.0.0.5\",\"hostname\":\"mycomputer\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":645.6111145019531,"y":172,"wires":[["a8d80e50.73b5"]]},{"id":"99f2c42f.9d90f8","type":"change","z":"c21a7aaf.0f3358","name":"Set Acc Overview body","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"rmNumber\":\"00000010210007\",\"DepositOverview\":[{\"accountNumber\":\"00009786074006\",\"accountType\":\"ST\",\"institutionCode\":\"02\",\"currencyCode\":\"001\",\"branchCode\":\"978\"},{\"accountNumber\":\"00009787995214\",\"accountType\":\"TD\",\"institutionCode\":\"02\",\"currencyCode\":\"001\",\"branchCode\":\"978\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":666.611083984375,"y":226,"wires":[["6dc34af.d659bb4"]]},{"id":"6dc34af.d659bb4","type":"http request","z":"c21a7aaf.0f3358","name":"Call Acc Overview","method":"POST","ret":"obj","url":"{{{baseurl}}}/depositoverview","tls":"273a1fc4.fbb84","x":895.6111145019531,"y":229,"wires":[["c068ee8d.0b88d"]]},{"id":"7792362a.4b9778","type":"change","z":"c21a7aaf.0f3358","name":"Set the URL WAS3","rules":[{"t":"set","p":"baseurl","pt":"msg","to":"https://172.20.128.29/bpi/sb/eol","tot":"str"},{"t":"set","p":"servername","pt":"msg","to":"WAS3","tot":"str"},{"t":"set","p":"requesttime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":413.6111145019531,"y":202,"wires":[["e0db3052.2532c","3c3e5e56.448562","99f2c42f.9d90f8"]]},{"id":"7339d3dd.1f3a5c","type":"debug","z":"c21a7aaf.0f3358","name":"","active":true,"console":"false","complete":"false","x":1396.611083984375,"y":365,"wires":[]}]